<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="utilisateur">
      <h2 data-cy="utilisateurDetailsHeading"><span jhiTranslate="lesfermiersApp.utilisateur.detail.title">Utilisateur</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ utilisateur.id }}</span>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.utilisateur.nom">Nom</span></dt>
        <dd>
          <span>{{ utilisateur.nom }}</span>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.utilisateur.prenom">Prenom</span></dt>
        <dd>
          <span>{{ utilisateur.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.utilisateur.email">Email</span></dt>
        <dd>
          <span>{{ utilisateur.email }}</span>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.utilisateur.password">Password</span></dt>
        <dd>
          <span>{{ utilisateur.password }}</span>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.utilisateur.societe">Societe</span></dt>
        <dd>
          <span>{{ utilisateur.societe }}</span>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.utilisateur.presentation">Presentation</span></dt>
        <dd>
          <span>{{ utilisateur.presentation }}</span>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.utilisateur.telephone">Telephone</span></dt>
        <dd>
          <span>{{ utilisateur.telephone }}</span>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.utilisateur.videoUrl">Video Url</span></dt>
        <dd>
          <span>{{ utilisateur.videoUrl }}</span>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.utilisateur.photoUrl">Photo Url</span></dt>
        <dd>
          <span>{{ utilisateur.photoUrl }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/utilisateur', utilisateur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
