<div>
  <h2 id="page-heading" data-cy="CampagneHeading">
    <span jhiTranslate="lesfermiersApp.campagne.home.title">Campagnes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lesfermiersApp.campagne.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-campagne"
        [routerLink]="['/campagne/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lesfermiersApp.campagne.home.createLabel"> Create a new Campagne </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="campagnes?.length === 0">
    <span jhiTranslate="lesfermiersApp.campagne.home.notFound">No campagnes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="campagnes && campagnes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prix">
            <span jhiTranslate="lesfermiersApp.campagne.prix">Prix</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prixDetaille">
            <span jhiTranslate="lesfermiersApp.campagne.prixDetaille">Prix Detaille</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateLivraison">
            <span jhiTranslate="lesfermiersApp.campagne.dateLivraison">Date Livraison</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="lesfermiersApp.campagne.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="videoUrl">
            <span jhiTranslate="lesfermiersApp.campagne.videoUrl">Video Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateFin">
            <span jhiTranslate="lesfermiersApp.campagne.dateFin">Date Fin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="priorite">
            <span jhiTranslate="lesfermiersApp.campagne.priorite">Priorite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ville.id">
            <span jhiTranslate="lesfermiersApp.campagne.ville">Ville</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="utilisateur.id">
            <span jhiTranslate="lesfermiersApp.campagne.utilisateur">Utilisateur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="produit.id">
            <span jhiTranslate="lesfermiersApp.campagne.produit">Produit</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let campagne of campagnes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/campagne', campagne.id, 'view']">{{ campagne.id }}</a>
          </td>
          <td>{{ campagne.prix }}</td>
          <td>{{ campagne.prixDetaille }}</td>
          <td>{{ campagne.dateLivraison | formatMediumDate }}</td>
          <td>{{ campagne.description }}</td>
          <td>{{ campagne.videoUrl }}</td>
          <td>{{ campagne.dateFin | formatMediumDate }}</td>
          <td>{{ campagne.priorite }}</td>
          <td>{{ campagne.adresse }}</td>
          <td>{{ campagne.dateCreation | formatMediumDate }}</td>
          <td>
            <div *ngIf="campagne.ville">
              <a [routerLink]="['/ville', campagne.ville?.id, 'view']">{{ campagne.ville?.libelle }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="campagne.utilisateur">
              <a [routerLink]="['/utilisateur', campagne.utilisateur?.id, 'view']"
                >{{ campagne.utilisateur?.nom }} {{ campagne.utilisateur?.prenom }}</a
              >
            </div>
          </td>
          <td>
            <div *ngIf="campagne.produit">
              <a [routerLink]="['/produit', campagne.produit?.id, 'view']">{{ campagne.produit.libelle }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/campagne', campagne.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/campagne', campagne.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(campagne)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="campagnes && campagnes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
