<h1>Liste des campagnes de l'utilisateur :{{ fournisseur?.nom }}</h1>
<div class="col-md-6" *ngFor="let campagne of campagneList">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col-auto d-none d-lg-block">
      <svg
        class="bd-placeholder-img"
        width="200"
        height="250"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c" />
        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
      </svg>
    </div>
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">{{ campagne.produit?.libelle }} à {{ campagne.ville?.libelle }}</strong>
      <h3 class="mb-0">{{ campagne.utilisateur?.societe }}</h3>
      <div class="mb-1 text-muted">date de maturité :{{ campagne.dateLivraison }}</div>
      <p class="card-text mb-auto">{{ campagne.description }} à {{ campagne.ville?.libelle }}-({{ campagne.ville?.region | uppercase }})</p>
    </div>
  </div>
</div>
