<div class="row">
  <form #searchForm="ngForm" (submit)="onSubmit()">
    <fieldset>
      <!-- Form Name -->
      <legend>Rechercher un fournisseur</legend>
      <div class="form-row">
        <!-- Select Basic -->
        <div class="form-group">
          <label class="control-label" for="region">choisir une région</label>
          <div class="">
            <select id="region" name="region" class="form-control" [(ngModel)]="region" (ngModelChange)="majVille($event)">
              <option [ngValue]="null">Toutes les regions</option>
              <option *ngFor="let region of listeRegion" [ngValue]="region">{{ region }}</option>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="control-label" for="ville">choisir une ville</label>
          <div class="">
            <select id="ville" name="ville" class="form-control" [(ngModel)]="ville">
              <option [ngValue]="null">Toutes les villes</option>
              <option *ngFor="let ville of villes" [ngValue]="ville">{{ ville.libelle }}</option>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="control-label" for="produit">choisir un produit</label>
          <div class="">
            <select id="prduit" name="produit" class="form-control" required [(ngModel)]="produit">
              <option value="1" *ngFor="let produit of listeProduit" [ngValue]="produit">{{ produit.libelle }}</option>
            </select>
          </div>
        </div>

        <!-- Button (Double) -->

        <div class="form-group">
          <label class="text-warning control-label" for="produit">choisir un produit pour lancer la recherche</label>
          <div class="">
            <button type="submit" class="btn btn-primary" [disabled]="searchForm.invalid">rechercher</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
