<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="campagne">
      <h2 data-cy="campagneDetailsHeading"><span jhiTranslate="lesfermiersApp.campagne.detail.title">Campagne</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ campagne.id }}</span>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.campagne.prix">Prix</span></dt>
        <dd>
          <span>{{ campagne.prix }}</span>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.campagne.prixDetaille">Prix Detaille</span></dt>
        <dd>
          <span>{{ campagne.prixDetaille }}</span>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.campagne.dateLivraison">Date Livraison</span></dt>
        <dd>
          <span>{{ campagne.dateLivraison | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.campagne.description">Description</span></dt>
        <dd>
          <span>{{ campagne.description }}</span>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.campagne.videoUrl">Video Url</span></dt>
        <dd>
          <span>{{ campagne.videoUrl }}</span>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.campagne.dateFin">Date Fin</span></dt>
        <dd>
          <span>{{ campagne.dateFin | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.campagne.priorite">Priorite</span></dt>
        <dd>
          <span>{{ campagne.priorite }}</span>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.campagne.ville">Ville</span></dt>
        <dd>
          <div *ngIf="campagne.ville">
            <a [routerLink]="['/ville', campagne.ville?.id, 'view']">{{ campagne.ville?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.campagne.utilisateur">Utilisateur</span></dt>
        <dd>
          <div *ngIf="campagne.utilisateur">
            <a [routerLink]="['/utilisateur', campagne.utilisateur?.id, 'view']">{{ campagne.utilisateur?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="lesfermiersApp.campagne.produit">Produit</span></dt>
        <dd>
          <div *ngIf="campagne.produit">
            <a [routerLink]="['/produit', campagne.produit?.id, 'view']">{{ campagne.produit?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/campagne', campagne.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
